.footer__column-link {
    line-height: 30px;
    font-size: 18px;
    font-weight: normal;
    text-decoration: none;
    color: white;
    display: flex;
    align-items: center;
    flex-direction: row;
    margin: 0;
    transition: opacity 1s ease-in-out;
  }
  
  .footer__column-link:hover {
    opacity: .5;
  }