.kaufman__triangle {
    height: 1006px;
    width: 995px;
    position: absolute;
    top: 0px;
    right: -210px;
    background-repeat: no-repeat;
    background-image: url("../../../images/kaufman-triangle.svg");
}